<%- layout("/layouts/sample") %>
<body>
    <div class="container">
        <div class="row mt-3">
            <h1 class="col-6 offset-4">Blogs</h1>
            <div class="col-6 offset-3">
                <form action="/blog/<%= blog._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label ">Title</label>
                        <input name="blog[title]" value="<%= blog.title %>" id="title" placeholder="enter title"
                            type="text" class="form-control" required />
                        <div class="valid-feedback"> Looks good</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label ">Description</label>
                        <input name="blog[description]" value="<%= blog.description %>" id="description"
                            placeholder="enter description" type="text" class="form-control" required />
                        <div class="valid-feedback"> Looks good</div>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label ">Content</label>
                        <textarea name="blog[content]" value="<%= blog.content %>" id="content"
                            placeholder="enter content" type="text" class="form-control" required></textarea>
                    </div>
                    <button class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
</body>